.footer{
    background: linear-gradient(to top left, #DB242A, #E58924);
    color: #fff;
    font-family: 'roboto';
    font-size: 16px;
}

.h4{
    font-size: 20px;
}

.copy{
    border-top: 1px solid #D9D9D9;
}

.copy span{
    padding-top: 20px;
    font-family: 'Work Sans';
    font-size: 20px;
}