.hero {
    background-color: #E26726;
    opacity: 95%;
    height: 500px;
    color: #fff;
}

.hero h1 {
    font-family: "lato";
    font-size: 55px;
    line-height: 69px;
    text-align: center;
}

#barres {
    display: flex;
    position: relative;
    float: inline-start;
    top: -50px;
}

#post {
    position: relative;
    top: 100px;

}

.texte {
    position: relative;
    top: -70px;
}

.texte p{
    font-family: 'inter';
    font-size: 18px;

}

.texte button{
    background-color: #ffffff33;
    border: 1px solid #fff;
    padding: 10px 20px 10px 20px;
    color: #fff;
    font-family: 'inter';
    font-size: 16px;
}